<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Let's Play</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/components/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/components/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/components/favicon-16x16.png">
    <link rel="manifest" href="/components/site.webmanifest">
    <link rel="stylesheet" href="instantStart.css">
    
</head>

<body>

  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="\index.html">
            <img src="\components\Heading(1).jpg" width="60" height="60" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="\index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="\project2.html">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Event
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="\instantStart.html">Instant Start</a>
                        <a class="dropdown-item" href="#">Organiztion</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Live Events</a>
                    </div>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Teams,locations...." aria-label="Search" id="searchbox">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search">Search</button>
            </form>
        </div>
    </nav>
    <div class="box">
        <!-- <form action="instant.php" method="post" onsubmit="return validateForm()"> -->
            <form id="upload1">
            <span class="text-center">Sign-up</span>
            <div class="input-container">
                <input type="text" id="name" required="" />
                <label for="name">Full Name</label>
                <p id="errorMessage1"></p>
            </div>
            <div class="input-container">
                <input type="tel" id="phone" required="" />

                <label for="phone" >Phone.no</label>
                <span>+91</span>
                <p id="errorMessage2"></p>
            </div>
            <div class="input-container">
                <input type="mail" id="email" required="" />
                <label for="email">Email</label>
                <p id="errorMessage3"></p>
            </div>
            <div class="input-container">
                <input type="password" id="password" required="" />
                <!-- <img src="\components\eye-close.png"> -->
                <label for="password">Password</label>
                <p id="errorMessage4" style="color: rgb(238, 238, 78)">Minimum eight characters, at least one letter,<br> one number and one special character</p>
            </div>
            <div class="input-container">
                <input type="password" id="Cpassword" required="" />
                <label for="Cpassword">Confirm Password</label>
                <p id="errorMessage5"></p>
            </div>
            <button type="submit" class="btn">Sign-up</button>
            <div class="login" id="login">
                <a href="\login">Already Sign-uped? Log-in</a>
            </div>
        </form>
    </div>
    <script src="instant.js"></script>
    <script src="search.js"></script>

   
</body>

</html>